.ks-appdetails {
    &__main {
	   margin: auto;

	   &__content {
		  max-width: 1000px;
	   }
    }
    
    &__header {
        align-items: flex-start;
        display: flex;
        flex-direction: row;
        padding-top: 30px;
        padding-bottom: 10px;

        &__title {
            color: white;
        }

        &__left {
            flex: 1;
        }
        img {
            width: 120px;
            height: 120px;
            background-color: rgba(255,255,255,0.40);
            clip-path: circle(50% at 50% 50%);
        }
    }

    &__sidebar {
	   &__section{
		  margin-top: 20px;

		  &__title {
			 margin-bottom: 10px;
			 
			 font-size: 20px;
			 font-weight: bold;
			 opacity: 0.5;
			 color: gray;
		  }
	   }

	   &__card {
		  width: 100%;
		  max-width: 380px;
		  margin-bottom: 15px;
	   }
    }

    &__deploy_button {
	   width: 100%;
	   height: 60px;
	   line-height: 50px;
	   font-size: 24px !important;
    }
}

.ks-hr {
    height: 0px;
    display: block;
    border-bottom: solid 1px #e6e6e6;
    margin-top: 25px;
    margin-bottom: 30px;    
}

#ks-appdetails__sidebar__first_section {
    margin-top: 0px !important;
}

pre {
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    background: black;
    color: white;
    overflow-x: scroll;
}
