$ks-card-width: 320px;
$ks-card-margin: 20px;
$ks-card-total: $ks-card-width+$ks-card-margin;

$ks-grid-margin: 20px;

$ks-sidebar-width : 200px;

$ks-apphub-width: 90%;


$ks-cards-1: $ks-card-total + $ks-sidebar-width + $ks-grid-margin;
$ks-cards-2: $ks-card-total * 2 + $ks-sidebar-width + $ks-grid-margin;
$ks-cards-3: $ks-card-total * 3 + $ks-sidebar-width + $ks-grid-margin;
$ks-cards-4: $ks-card-total * 4 + $ks-sidebar-width + $ks-grid-margin;

//min widths for displaying grids with these # of cards
$ks-appgrid-width-1: $ks-cards-1 / ($ks-apphub-width/100%);
$ks-appgrid-width-2: $ks-cards-2 / ($ks-apphub-width/100%);
$ks-appgrid-width-3: $ks-cards-3 / ($ks-apphub-width/100%);
$ks-appgrid-width-4: $ks-cards-4 / ($ks-apphub-width/100%);

.ks-apphub {

  display: flex;
  flex-direction: row;
  width: $ks-apphub-width;
  margin-left: auto;
  margin-right: auto;


  @media screen and (max-width: 600px) {
    width: 100%;
    flex-direction: column;
  }

  @media screen and (max-width: $ks-appgrid-width-1) {
    width: $ks-cards-1;
  }

  @media screen and (max-width: $ks-appgrid-width-1) {
    width: $ks-cards-1;
  }

  @media screen and (min-width: $ks-appgrid-width-2) {
    width: $ks-cards-2;
  }

  @media screen and (min-width: $ks-appgrid-width-3) {
    width: $ks-cards-3;
  }

  @media screen and (min-width: $ks-appgrid-width-4) {
    width: $ks-cards-4;
  }


  &-sidebar {

    width: 200px;
    padding-top: 50px;


    &__label {
      font-weight: bold;
      font-style: italic;
      
    }

    img {
      width: 15px;
      left: -315px;
      position: relative;
      top: 33px;
      width: 15px;
    }

    &__tagselect {
      width: 85% !important;
      display: block !important;
      margin-left: 15px;
      border: 1px #bababa solid;
      background-color: rgba(255,255,255,0.12);
    }

    &__heading {
      font-weight: bold;
      font-style: italic;
    }

    &__catselect {
      padding-left: 25px;
      text-transform: capitalize;
    }
  } 

  &-header {
    

    height: 150px;

    @media screen and (max-width: 600px) {
      height: 100px;
    }

    &__search {
      padding: 15px;
      width: 50%;
      max-width: 600px;

      @media screen and (max-width: 600px) {
        width: 100%;
      }

      label {
        font-weight: lighter;
        font-style: italic;
        font-size: 135%;

        @media screen and (max-width: 600px) {
          display: none;
        }
      }
      
      &__input {
      

        input {
          background-color: hsla(0,0%,100%,.2);
          color: white;
          border: solid #E8F6F9;
          border-radius: 4px;
          padding-left: 30px;
          display: block;
          width: 100%;
        }

        input::placeholder {
          color: white;
          font-style: italic;
        }

        img {
          width: 15px;
          left: -315px;
          position: relative;
          top: 33px;
          width: 15px;
        }
      }
    }

    &__inner {
      display: flex;
      flex-direction: column;
      position: relative;
      padding: 0 15px;
      width: 100%;
    }
  }
}

.ks-appgrid {

  @media screen and (min-width: $ks-appgrid-width-1) {
    width: $ks-card-total + $ks-grid-margin;
  }

  @media screen and (min-width: $ks-appgrid-width-2) {
    width: $ks-card-total * 2+ $ks-grid-margin;
  }

  @media screen and (min-width: $ks-appgrid-width-3) {
    width: $ks-card-total * 3+ $ks-grid-margin;
  }

  @media screen and (min-width: $ks-appgrid-width-4) {
    width: $ks-card-total * 4+ $ks-grid-margin;
  }


  &__grid {
    padding-left: 20px;

    @media screen and (max-width: $ks-appgrid-width-1) {
      flex-direction: column;
    }

    background-color: lightgray;
    padding-top: 20px;
  
    display: flex;
    flex-wrap: wrap;
  }

  &__control {
    padding-bottom: 15px;
  }
}

.ks-card {
  box-sizing: border-box;
  height: 300px;
  width: $ks-card-width;
  border-radius: 5px;
  &:hover, &:focus {
    box-shadow: 0 6px 12px rgba(0,0,0,0.12)
  }

  margin-right: $ks-card-margin;
  margin-bottom: $ks-card-margin;
  display: flex;
  flex-flow: column;

  &__heading {
    background-color: #e8f6f9;
    position: relative;
    height: 40%;
    border-bottom: 1px solid #d1d1d1;

    a {
      color: black;
      text-decoration: none;
    }

    &__left {
      display: inline-block;
      width: 70%;
      font-size: 100%;
      white-space: normal !important;

      &__title {
        font-weight: bold;
        color: black;
      }

      &__provider {
        font-style: italic;
        font-weight: lighter;
        font-size: 80%;
      }
  
    }

    &__logo {
      width: 30%;
      background-color: $ks-color-background;
      display: inline-block;
      position: absolute;
      top: 20px;
      right: 10px;
      clip-path: circle(50% at 50% 50%);
    }
  }

  &__body {
    flex-grow: 1;
    margin: 20px 0 0;
    &__description {
      font-size: 125%;
    }
  }

  &__footer {

    background-color: #fafafa;
    border-top: 1px solid #d1d1d1;
    padding: 20px 20px 10px;

    &__tag {
      margin: 2px;
      display: inline-block;
      -webkit-user-select: none;

      &:hover {
        background-color: #163f9e !important;
      }
    }
  }

  &-item {
    margin-right: 50px;
    height: 300px;
    width: 320px;
  }
}
