.ks-card {
    height: 300px;
    width: 320px;
    border-radius: 5px;
    margin-right: 50px;
    background-color: $ks-color-card-background;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    &:hover, &:focus {
      box-shadow: 0 6px 12px rgba(0,0,0,0.12)
    }
    display: flex;
    flex-flow: column;
  
    &__heading {
      margin-top: -5px;
      background-color: #e8f6f9;
      position: relative;
      height: 40%;
  
      &__left {
        display: inline-block;
  
        &__title {
          font-weight: bold;
          font-size: 150%;
        }
    
      }
  
      &__logo {
        width: 30%;
        background-color: $ks-color-background;
        display: inline-block;
        position: absolute;
        top: 20px;
        right: 10px;
        clip-path: circle(50% at 50% 50%);
      }
    }
  
    &__body {
      flex-grow: 1;
    }
  
    &__footer {
  
      &__tag {
        margin: 2px;
        display: inline-block;
      }
    }
  
  }