body {
  background-color: $page-bg-color;
  color: #363636;
  font-family: "Lato", var(--pf-global--FontFamily--sans-serif);
  line-height: 1.66667;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  --pf-l-gallery--GridTemplateColumns: auto;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
