.ks-topbar {
    background: linear-gradient(to right, #820000, #a30000);
    overflow: visible;

    &__nav {
        
        &__item {
            --pf-c-nav__horizontal-list-link--hover--after--BackgroundColor: white;
            --pf-c-nav__horizontal-list-link--focus--after--BackgroundColor: white;
            --pf-c-nav__horizontal-list-link--active--after--BackgroundColor: white;
            :hover {
                color: white !important;
            }
        }
    }

    &__chat {
        height: 0px;
        margin-top: -35px !important;
        overflow: visible;
    }
}


.ks-header {
    background: linear-gradient(to right, #820000, #a30000);
    background-image: url("./imgs/header-bg-new.png"), linear-gradient(to right, #820000, #a30000);
    
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y : bottom;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    width: 100%;
}