.ks-topbar {
    background: linear-gradient(to right, #820000, #a30000);
}

.ks-header {
    background: linear-gradient(to right, #820000, #a30000);
    background-image: url("./imgs/header-bg-new.png"), linear-gradient(to right, #820000, #a30000);
    
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y : bottom;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    width: 100%;
}
