$ks-bground1 : #f03050;
$ks-bground2 : #8952ff;


.ks-topbar {
    background: linear-gradient(to right, $ks-bground1, $ks-bground2);
    overflow: visible;

    &__brand {
	max-width: 70px;
    }

    &__nav {
        
        &__item {
            --pf-c-nav__horizontal-list-link--hover--after--BackgroundColor: white;
            --pf-c-nav__horizontal-list-link--focus--after--BackgroundColor: white;
            --pf-c-nav__horizontal-list-link--active--after--BackgroundColor: white;

	    a {
		font-weight: bold !important;
		color: white !important;
	    }

            :hover {
                color: white !important;
            }
        }
    }

    &__chat {
        height: 0px;
        margin-top: -35px !important;
        overflow: visible;
    }

    &__button {
        background-color: white !important;
        color: #5752D1 !important;

    }
}


.ks-header {
    background: linear-gradient(to right, #1e90ff, #a30000);
    background-image: url("./imgs/header-bg-new.png"), linear-gradient(to right,$ks-bground1,$ks-bground2);
    
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y : bottom;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    width: 100%;
}

.pf-c-page__header-nav {
    background: rgba(0,0,0,0) !important;
}